<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'main/common_header.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/index.css' %}"/>
</head>
<body>
    <ul>
    {% for quiz in quiz_list %}
            <li style="background: url({{ quiz.image_url }}) no-repeat center/cover">
            {% if quiz.content_type == 'Q' %}
                <a href="{% url 'quiz:question' quiz.id %}">
            {% else %}
                <a href="{% url 'tournament:tournament' quiz.id %}">
            {% endif %}
                    <div class="quiz-item">
                        <div class="quiz-title">{{ quiz.name }}</div>
                        <div class="quiz-description">{{ quiz.description }}</div>
                    </div>
                </a>
            </li>
    {% endfor %}
    </ul>
</body>
</html>