html, body {
    height: 100%;
}

h1 {
    text-align: center;
}

a, a:visited {
    text-decoration: none;
}

#container {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
