form {
    font-size: 0;
}

progress {
    background-color: antiquewhite;
    width: 380px;
    border-radius:10px;
}

progress::-webkit-progress-bar {
  background-color: antiquewhite;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: lightgreen;
  border-radius: 10px;
}

.question-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-positive {
    background-color: cornflowerblue;
    margin-right: 10px;
}

.btn-negative {
    background-color: darkgray;
}

.quiz-progress {
    position: absolute;
    top: 50%;
    left: 62.5%;
    transform: rotate(-90deg);
}

.img-container {
    position: relative;
}

.btn:focus {
    outline: none
}