ul {
    text-align: left;
}

#arrow-down {
    width: 5%;
    margin: 20px auto auto;
}

#cover {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#anchor {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto 0;
}

.store-item {
}

.store-title {
    background-color: #86BBD8;
    padding: 20px;
}

.store-content {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    height: 100%;
    padding: 40px;
}

.store-img {
    margin-right: 20px;
}



