<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'main/common_header.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'tournament/tournament.css' %}"/>
</head>
<body>
{% if level == 2 %}
    <div class="header">결승</div>
{% elif level == 4 %}
    <div class="header">준결승</div>
{% else %}
    <div class="header">{{ level }}강</div>
{% endif %}

    <div id="content">
        <form method="post" action="{% url 'tournament:submit' %}">
        {% csrf_token %}
        {% for item in questions %}
            <div class="selection-container" style="background: url({{ item.image_url }}) no-repeat center/cover">
                <div class="selection-text">{{ item.question }}</div>
                <input type="submit" name="{{ item.id }}" value="" class="selection"/>
            </div>
        {% endfor %}
        </form>
    </div>
</body>
</html>