<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KUCC 동아리 박람회</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'quiz/quiz.css' %}"/>
</head>
<body>
    <div id="container">
        <div>
            <h1 class="question-title">{{ store.name }}</h1>
            <div class="img-container">
                <img class="question-img" src="{{ store.image_url }}"/>
                <progress class="quiz-progress" value="{{ step }}" max="10"></progress>
            </div>
            <form method="post" action="{% url 'quiz:submit' %}">
                {% csrf_token %}
                <input type="submit" name="Y" value="가봤어요!" class="btn btn-positive"/>
                <input type="submit" name="N" value="안 가봤어요" class="btn btn-negative"/>
            </form>
        </div>
    </div>
</body>
</html>